---
---

@import "{{ site.theme }}";

.highlight { background-color: #202020; }
body { background-color: #121212; color: #969696; }

h1, h2, h3, h4, h5, h6 { color: #F6F6F6; }

th { color: #BECACA; }

code, pre { color: #DFDFDF; background-color: #202020; }

.wrapper { width: 80%; }
section { width: 70%;

	@media screen and (max-width: 961px) {
		width: 100%;
	}

  @media screen and (min-width: 961px) and (max-width: 1260px) {
    width: 60%;
  }
} 

a { color: #4E99D9; }
strong { color: #F6F6F6; }
