---
---

@import "{{ site.theme }}";

.highlight { background-color: #202020; }
body { background-color: #121212; color: #969696; }

h1, h2, h3, h4, h5, h6 { color: #F6F6F6; }

th { color: #BECACA; }

code, pre { color: #DFDFDF; background-color: #202020; }

.wrapper { width: 80%; }
section { width: 70%;

	@media screen and (max-width: 961px) {
		width: 100%;
	}

  @media screen and (min-width: 961px) and (max-width: 1260px) {
    width: 60%;
  }
} 

a { color: #4E99D9; }
strong { color: #F6F6F6; }



.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px
}

.alert h4 {
    margin-top: 0;
    color: inherit
}

.alert .alert-link {
    font-weight: 700
}

.alert>p,
.alert>ul {
    margin-bottom: 0
}

.alert>p+p {
    margin-top: 5px
}

.alert-dismissable,
.alert-dismissible {
    padding-right: 35px
}

.alert-dismissable .close,
.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6
}

.alert-success hr {
    border-top-color: #c9e2b3
}

.alert-success .alert-link {
    color: #2b542c
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1
}

.alert-info hr {
    border-top-color: #a6e1ec
}

.alert-info .alert-link {
    color: #245269
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc
}

.alert-warning hr {
    border-top-color: #f7e1b5
}

.alert-warning .alert-link {
    color: #66512c
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1
}

.alert-danger hr {
    border-top-color: #e4b9c0
}

.alert-danger .alert-link {
    color: #843534
}

img {
    margin: 12px 0px 3px 0px;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

img.inline {
    margin:0px;
}

li .alert {
	padding: 5px;
	display: inline-block;
}

li:has(> .alert) {
	list-style: none;
}
